<div class="px-10">
  <h1 class="text-xl font-bold">About</h1>
  <p class="text-sm" >Lorem ipsum dolor <span appHighlight>sit amet consectetur adipisicing elit.</span> facere, ullam vitae. Distinctio eveniet nostrum in similique. Magnam accusantium, quidem assumenda voluptatem fugiat in.</p>
  <p class="text-sm"> Numero de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/> </p>
  <div>
      <h3 class="text-lg font-bold">Historia de la compañía</h3>
      <app-wave-audio audioUrl="assets/audio.mp3" />
  </div>
  

</div>


<p>
</p>
